.Progress {
    height: 50px;
    width: 100px;
    
}

.vanilla {
    background-color: greenyellow;    
}

.strawberry {
    background-color: goldenrod;
}

.chocolate {
    background-color:aquamarine;
}