* {
    margin:0;
<<<<<<< HEAD
    border: 0;
=======
>>>>>>> d0ae866fdf665330b07b2637e64f747816d0d95f
    padding:0;
}

body {    
    height: 100vh;
    margin:0;
}

.container {
    display:flex;
<<<<<<< HEAD
    flex-wrap: wrap;
/*    border:8px solid black; */
=======
    flex-wrap: wrap;    
>>>>>>> d0ae866fdf665330b07b2637e64f747816d0d95f
    height: 100%;
}

.rect {
    display: flex;
    width: 50%;
    height: 33.33%;
    justify-content: center;
    align-items:center;
    margin:0;
<<<<<<< HEAD
    border:1px solid black;    
=======
    color:white;
    border: 1PX solid black;
    box-sizing: border-box;
>>>>>>> d0ae866fdf665330b07b2637e64f747816d0d95f
}


.color-red {        
    background-color: red;    
}

.color-orange {
    background-color: orange;    
}

.color-yellow {
    background-color: yellow;    
}

.color-green {
    background-color: green;
}

.color-blue {
    background-color: blue;
}

.color-purple {
    background-color: purple;    
}



@media screen and (min-width: 600px) {
    .rect {        
        width: 33.33%;
        height: 50%;
    } 
}