* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width:100vw;
    height:100vh;
    border:1px solid black;
}

header {
    width:100%;            
}

li {
    list-style: none;
}

.navbar {
    display:flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 0 24px;    
    border: 1px solid grey;
}

.nav-menu {
    border:1px solid black;
    border-top: 0;
    padding:10px;
    position:relative;
    top: -55px;
    left:48px;
    transition: 0.2s;
}

.nav-menu.active {        
    top:55px;
}

.nav-item {
    margin-bottom: 6px;
}
.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: grey;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

.bar {
    display:block;                      
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;    
}